blinker
click
colorama
contourpy
cycler
Flask
flask-cors
fonttools
imagingcontrol4
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
opencv-contrib-python
opencv-python
packaging
pillow
pyodbc
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
six
Werkzeug
requests
scikit-image
scikit-learn
sqlalchemy


